div#sbsi_product_icons label {
    margin: initial;
    width: initial;
    float: initial;
    font-weight: 700;
    display: block;
    margin-bottom: 5px;
}

input.sbsi_icon {
    display: block;
}

span.sbsi_icon_span {
    width: 225px;
    height: 50px;
    margin-bottom: 15px;
    margin-right: 18px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    float: left;
}

div#sbsi_product_icons {
    padding: 30px;
}

div#sbsi_btn_cont {
    clear: both;
}

button#sbsi_del_icons{
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 30px;
    letter-spacing: 1px;
    margin-left: 0;
    width: 98.5%;
    position: relative;
    left: 8px;
} 

button#sbsi_add_icon, input#sbsi_submit {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 15px;
    letter-spacing: 1px;
    margin-left: 0;
    width: 49%;
    position: relative;
    left: 8px;
} 

#sbsi_icon_div {
    position: relative;
    left: 9px;
}

a.sbsi_remove {
    text-decoration: none;
    color: white;
    background: #de0c0c;
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 2px #0000006e;
    position: absolute;
    right: 5px;
    top: 5px;
}

.sbsi_icon_img_cont {
    position: relative;
    display: inline-flex;
    margin-right: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 245px;
    height: 245px;
    overflow: hidden;
    left: 9px;
}

img.sbsi_icon_img {
    width: 100%;
}

a.sbsi_del_icon {
    width: 20px;
    height: 20px;
    background: red;
    text-decoration: none;
    color: white;
    text-align: center;
    border-radius: 50%;
    right: 5px;
    top: 5px;
    position: absolute;
    box-shadow: 0px 1px 2px #0000008f;
}

button#sbsi_del_icons {
    background: red;
    color: white;
    border-color: red;
}

button#sbsi_del_icons:hover {
    background: #cc0000;
    border-color: #cc0000;
}